
<!doctype html>
<html lang="en" class="fixed">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>德希科技云平台</title>
    <link rel="apple-touch-icon" sizes="120x120" href="../../helsinki-blue/favicon/apple-icon-120x120.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../helsinki-blue/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../helsinki-blue/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../helsinki-blue/favicon/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../helsinki-blue/vendor/animate.css/animate.css">
    <link rel="stylesheet" href="../../helsinki-blue/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="../../helsinki-blue/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="../../helsinki-blue/stylesheets/css/style.css?verson=1">
    <link href="../../helsinki-blue/user/H-ui.admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../helsinki-blue/vendor/pnotify/pnotify.custom.css">
    <link href="../../helsinki-blue/user/css/bootstrap-tab.css" rel="stylesheet" />

</head>

<body style= "overflow:auto;"> <!--影藏外部的滑动条-->
<div class="wrap">
    <div class="page-header">
        <div class="leftside-header">
            <div class="logo">
                <a href="index" class="on-click">
                    <img alt="logo" src="../../Images/Login_logo.png" />
                </a>
            </div>
            <div id="menu-toggle" class="visible-xs toggle-left-sidebar" data-toggle-class="left-sidebar-open" data-target="html">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
        <div class="rightside-header">
            <div class="header-middle"></div>
            <div class="header-section" id="search-headerbox">
                <input type="text" name="search" id="search" placeholder="Search...">
                <i class="fa fa-search search" id="search-icon" aria-hidden="true"></i>
                <div class="header-separator"></div>
            </div>
            <div class="header-section hidden-xs" id="notice-headerbox">
                <!-- 此处删除了to-do-list -->
                <div class="notice" id="messages-notice">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
                    <div class="dropdown-box basic">
                        <div class="drop-header ">
                            <h3><i class="fa fa-comments-o" aria-hidden="true"></i> Messages</h3>
                            <span class="number">0</span>
                        </div>
                        <div class="drop-content">
                            <div class="widget-list list-left-element">
                                <ul>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="drop-footer">
                            <a>See all messages</a>
                        </div>
                    </div>
                </div>
                <div class="notice" id="alerts-notice">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <span>0</span>
                    <div class="dropdown-box basic">
                        <div class="drop-header">
                            <h3><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</h3>
                            <span class="number">0</span>
                        </div>
                        <div class="drop-content">
                            <div class="widget-list list-left-element list-sm">
                                <ul>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="drop-footer">
                            <a>See all notifications</a>
                        </div>
                    </div>
                </div>
                <div class="header-separator"></div>
            </div>
            <div class="header-section" id="user-headerbox">
                <div class="user-header-wrap">
                    <div class="user-photo">
                        <img src="../../helsinki-blue/images/user-avatar.jpg" alt="用户图片" />
                    </div>
                    <div class="user-info">
                        <span class="user-name" id="nickname_id">用户昵称</span>
                        <span class="user-profile" id="user_type_id">普通用户</span>
                    </div>
                    <i class="fa fa-plus icon-open" aria-hidden="true"></i>
                    <i class="fa fa-minus icon-close" aria-hidden="true"></i>
                </div>
                <div class="user-options dropdown-box">
                    <div class="drop-content basic">
                        <ul>
                            <li> <a href="#" onclick="button_user_info_click()"><i class="fa fa-user" aria-hidden="true"></i> 用户信息</a></li>
                            <li> <a href="#" onclick="button_exit_click()"><i class="fa fa-sign-out" aria-hidden="true"></i> 退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-separator"></div>
            <div class="header-section">
                <!-- 退出处理 -->
                <a href="#" onclick="button_exit_click()"><i class="fa fa-sign-out log-out" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="page-body">

        <!-- 左侧菜单 -->
        <div class="left-sidebar" id="left_sidebar_id">
            <div class="left-sidebar-header">
                <div class="left-sidebar-title">菜 单</div>
                <div class="left-sidebar-toggle c-hamburger c-hamburger--htla hidden-xs" data-toggle-class="left-sidebar-collapsed" data-target="html">
                    <span></span>
                </div>
            </div>
            <div id="left-nav" class="nano">
                <div class="nano-content"  id="user_main_menu_id">
                   <nav>
 	                    <ul class="nav" id="main-nav">
                            <!-- 异步加载用户菜单 -->
<!---------------------------------------------------------------------------------------->


<!---------------------------------------------------------------------------------------->




                        </ul>
                    </nav>
                </div>
            </div>
        </div>

       

         <!-- 左侧菜单占位，可以将界面向右边挤压 -->
        <div class="content" id="main_content_id" style="top:-37px">
                <ul class="nav nav-tabs" id="user_tabs_id">
                    <!--  <li class="pull-left"><a href="#" style="color:#022a7c;"><i class="fa fa-backward"></i></a></li>-->
                    <li class="active" id="tab_li_id_0" style="color:#000000;"><a href="#tab_href_0" data-toggle="tab" style="color:#000000;"><i class="fa fa-home" aria-hidden="true"></i><i>&nbsp</i>主页</a></li>
                    <!--  <li class="pull-right"><a href="#" style="color:#022a7c;"><i class="fa fa-forward"></i></a> </li>-->

                    <!-- style="display:none" 影藏标签-->
                 </ul>

                 <div class="tab-content" id="tab_content_id" style="height:100%;width:100%">
                    <div class="tab-pane fade in active" id="tab_href_0" style="height:100%;width:100%">
                        <!--下面这个section可以嵌入其它网页在内部，这样框架不用更新了 -->
                         <iframe id="iframe_id_0" src="InfoOver_Page" name="InfoOver_Page" onscroll="no" frameborder=0 style="height:100%;width:100%;" ></iframe>
                    </div>


                </div>


             
            </div>
        </div>
    </div>
</div>
<script src="../../helsinki-blue/javascripts/jquery.min.js"></script>
<script src="../../helsinki-blue/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../helsinki-blue/vendor/nano-scroller/nano-scroller.js"></script>
<script src="../../helsinki-blue/javascripts/template-script.min.js"></script>
<script src="../../helsinki-blue/javascripts/template-init.min.js"></script>
<script src="../../helsinki-blue/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    
    <!-- 相关js -->
    <script src="../../Scripts/md5/md5.js"></script>
    <script src="../../helsinki-blue/vendor/pnotify/pnotify.custom.js"></script>
    <script src="../../helsinki-blue/javascripts/examples/ui-elements/notifications-pnotify.js"></script>
    <script src="../../helsinki-blue/user/js/Index.js?verson=4"></script>
    <script src="../../helsinki-blue/user/js/Public_UserControl.js?verson=4"></script>
    <script src="../../helsinki-blue/user/layer/layer.js"></script>

    <!-- 弹出message占位 -->
    <div id="sign_out_message_id"></div>

    
   <!-- 界面js代码 -->
<script type="text/javascript">
   
//加载层
        //加载层-风格4
        var index = layer.msg('加载中', {
            icon: 16
          , shade: 0.5 //越大界面越黑
        });

    //初始化加载执行
    window.onload = function () {//要执行的js代码段  

        

        
        //loading层
        /*var index = layer.load(1, {
            shade: [0.1, '#fff'] //0.1透明度的白色背景
        });*/

        //自动高度
        var oDiv = document.getElementById('main_content_id');
        oDiv.style.height = ($(window).height() - 90) + 'px';
        //iframe窗口自适应
        oDiv = document.getElementById('tab_content_id');
        oDiv.style.height = ($(window).height() - 91) + 'px';
       // oDiv.style.width = ($(window).width() - 220) + 'px';

        GetUserInfo();          //初始化获取用户信息
        GetUserMenu();          //获取用户菜单
    }

    //浏览器窗口大小变化事件
    $(window).resize(function () {          //当浏览器大小变化时
        //alert($(window).height());          //浏览器时下窗口可视区域高度
        //alert($(document).height());        //浏览器时下窗口文档的高度
        //alert($(document.body).height());   //浏览器时下窗口文档body的高度
        //alert($(document.body).outerHeight(true)); //浏览器时下窗口文档body的总高度 包括border padding margin

        //自动高度
        var oDiv = document.getElementById('main_content_id');
        oDiv.style.height = ($(window).height() - 100) + 'px';
        //iframe窗口自适应
        oDiv = document.getElementById('tab_content_id');
        oDiv.style.height = ($(window).height() - 100) + 'px';
        //oDiv.style.width = ($(window).width() - 220) + 'px';
    });




</script>

</body>








</html>

