

<!doctype html>
<html lang="en" class="fixed">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>视频弹窗</title>
    <link rel="apple-touch-icon" sizes="120x120" href="../../helsinki-blue/favicon/apple-icon-120x120.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../helsinki-blue/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../helsinki-blue/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../helsinki-blue/favicon/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../helsinki-blue/vendor/animate.css/animate.css">
    <link rel="stylesheet" href="../../helsinki-blue/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="../../helsinki-blue/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="../../helsinki-blue/stylesheets/css/style.css">
    <link href="../../helsinki-blue/user/H-ui.admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../helsinki-blue/vendor/pnotify/pnotify.custom.css">
    <link href="../../helsinki-blue/user/css/bootstrap-user.css" rel="stylesheet" />
    <link href="../../helsinki-blue/user/layui/css/layui.css" rel="stylesheet" />
</head>

<body style= "overflow:hidden;"> <!--影藏外部的滑动条-->
    <div>
        <div id="main_div_id" class="tab-pane fade in active" id="tab_href_0" style="height:100%;width:100%">
            <!--下面这个section可以嵌入其它网页在内部，这样框架不用更新了 -->
            
        </div>
    </div>

<script src="../../helsinki-blue/javascripts/jquery.min.js"></script>
<script src="../../helsinki-blue/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../helsinki-blue/vendor/nano-scroller/nano-scroller.js"></script>
<script src="../../helsinki-blue/javascripts/template-script.min.js"></script>
<script src="../../helsinki-blue/javascripts/template-init.min.js"></script>
<script src="../../helsinki-blue/vendor/toastr/toastr.min.js"></script>
<script src="../../helsinki-blue/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    
<!-- 相关js -->
<script src="../../Scripts/md5/md5.js"></script>
<script src="../../helsinki-blue/vendor/pnotify/pnotify.custom.js"></script>
<script src="../../helsinki-blue/javascripts/examples/ui-elements/notifications-pnotify.js"></script>
<script src="../../helsinki-blue/user/js/SetUser.js"></script>
<script src="../../helsinki-blue/user/js/Public_UserControl.js"></script>
<script src="../../helsinki-blue/user/layer/layer.js"></script>
<script src="../../helsinki-blue/user/layui/layui.js"></script>
<script src="../../helsinki-blue/user/js/UserTree.js"></script>
<script src="../../helsinki-blue/user/js/DeviceGroupList.js"></script>

<!-- 界面js代码 -->
<script type="text/javascript">
    var frame_html;
    var g_ThisVideoURL = null;  //当前要播放的视频地址 
    //初始化加载执行
    window.onload = function () {   //要执行的js代码段  

        try {
            g_ThisVideoURL = parent.GetVideoURL();      //获取当前要播放的视频地址
            //alert(g_ThisVideoURL);

            frame_html = '<iframe scrolling="no" id="iframe_id" src="' + g_ThisVideoURL + '" name="VideoFrame" onscroll="no" frameborder=0 style="height:100%;width:100%;display:none;overflow:hidden;" ></iframe>';
            

        } catch (e) {
            frame_html = '<iframe id="iframe_id" src="' + "/Home/pages_error_404" + '" name="VideoFrame" onscroll="no" frameborder=0 style="height:100%;width:100%;display:none;" ></iframe>';  
        }
        document.getElementById('main_div_id').innerHTML = frame_html;
        loading_message('视频加载中...');                 //弹出提示框
        
        //自动高度-右侧正文
        var oDiv = document.getElementById('main_div_id');
        oDiv.style.height = ($(window).height() - 2) + 'px';
        //延时5秒
        setTimeout('DelayShowVideo()', 5000);
    }

    //延时显示视频
    function DelayShowVideo()
    {
        try {
            document.getElementById('iframe_id').style.display = "";//显示视频

        } catch (e) {

        }
        close_message();                                    //关闭提示框  
    }

    

</script>

</body>


</html>

