<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 系统用户配置数据库 -->
  <sysdbconfig>  
    <DataSource>192.168.1.132;Port=3306</DataSource>  
    <Database>webdatabase</Database>  
    <db_UserId>root</db_UserId>  
    <db_Password>123456789</db_Password>  
    <!-- 用户列表 -->
    <user_table>USER_INFO</user_table>
    <!-- 用户设备关系表 -->
    <user_tel_table>USER_DEVICE</user_tel_table>
    <!-- 设备信息表 -->
    <telinfo_table>DEVICE_INFO</telinfo_table>
    <!-- 用户分组表 -->
    <user_group_table>USER_GROUP</user_group_table>
    <!-- 视频数据表 -->
    <video_table>VIDEO_INFO</video_table>
    <!-- 视频用户表 -->
    <user_video_table>USER_VIDEO</user_video_table>
    <!-- 微信信息列表 -->
    <weixin_info_table>weixin_info</weixin_info_table>
    <!-- 用户微信对应表 -->
    <user_weixin_table>user_weixin</user_weixin_table>
    <!-- 报警记录表 -->
    <alarm_record_table>alarm_record</alarm_record_table>

  </sysdbconfig>

  <!-- 配置历史相关数据数据库 -->
  <datadbconfig>
    <DataSource>192.168.1.132;Port=3306</DataSource>
    <Database>water</Database>
    <db_UserId>root</db_UserId>
    <db_Password>123456789</db_Password>
    <!-- 实时数据表 -->
    <real_table>tempdata</real_table>
    <!-- 历史数据表 -->
    <hist_table>sl651_2014</hist_table>
    <!-- 小时数据表 -->
    <hour_table>hourlydata</hour_table>
    <!-- 图片数据表 -->
    <pic_table>picdata</pic_table>

  </datadbconfig> 
  
  <!-- 其它相关配置 -->
  <config>
    <OnePageCnt>50</OnePageCnt>
  </config> 
  
</configuration>